@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

.logo {
  margin-top: 15rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
}

.blue {
  color: #4285f4;
}

.red {
  color: #ea4335;
}

.yellow {
  color: #fbbc05;
}

.green {
  color: #34a853;
}

.main-search.form-control {
  border-radius: 30px;
  max-width: 600px;
  margin: auto;
}

.or-separator {
  margin: 10px 0;
}

.or-separator-line {
  width: 100px;
  background-color: #d1d6dc;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
