@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

.logo {
  margin-top: 15rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
}

.blue {
  color: #4285f4;
}

.red {
  color: #ea4335;
}

.yellow {
  color: #fbbc05;
}

.green {
  color: #34a853;
}

.main-search.form-control {
  border-radius: 30px;
  max-width: 600px;
  margin: auto;
}

.or-separator {
  margin: 10px 0;
}

.or-separator-line {
  width: 100px;
  background-color: #d1d6dc;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tag-list .card {
    width: 32%;
  }
}

.tag-list {
  flex-wrap: nowrap;
}

.tag-list .card {
  margin-bottom: 1em;
}

.inquire-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.comment-avatar {
  width: 50px;
  height: 50px;
}

.inquire-author-info {
  gap: 10px;
  padding-bottom: 10px;
}

.comment-author-info {
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.answer-author-info {
  padding-bottom: 10px;
}

.selected-answer {
  color: #198754;
  font-size: 1.5rem;
}